*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

body {
    background: #000000;
    color: #fff;
    font-family: 'Rajdhani';
}


h2 {
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

.crypto {
    display: block;
    background: url("/assets/images/fprcrypobgsvg.svg") no-repeat right/cover;
    width: fit-content;
    padding: 2px 0;
    padding-left: 13px;
    padding-right: 28px;
    font-style: normal;
    font-weight: 700;

    text-transform: uppercase;
    z-index: 1;
    color: #000000;
}


.currency {
    font-style: normal;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3.07692px;
    color: #000000;
}


.currency li {
    background: linear-gradient(180deg, #69A3A3 -32.87%, #5DFEFE 46.89%, #69A3A3 115.17%);
    border: 1px solid #65C6C6;
    /* padding: 1rem; */
}

.currency li:nth-child(1),
.currency li:nth-child(4),
.currency li:nth-child(8) {
    background: unset;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
}

.featured-links {
    /* padding-bottom: 32px; */
}

.featured-links .card {
    border: 1px solid #F7F930;
    background: #000;
    border-radius: unset;
}



.featured-links .card img {
    border-bottom: 1px solid #F7F930;
}

.featured-links .card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F7F930;
    position: relative;
}

.featured-links .card-title::before {
    content: '';
    position: absolute;
    background: #f7f930;
    width: 19px;
    height: 10px;
    left: 15px;
    top: 3px;
    transform: skewX(-30deg);
}

.featured-links .card-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 19px;
    letter-spacing: 0.5px;

    color: #FFFFFF;
}

.ocasino {
    background-image: url("/assets/images/online\ casino.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.online-casino p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    /* font-size: 16px; */
    /* line-height: 26px; */
    color: #FFFFFF;
    margin-bottom: 50px;
}

.intro-intro {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    /* margin-left: 114px; */
    flex-direction: row;
}


.intro-intro p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
}

.intro>.row>p {
    margin: 0;
}

.intro>.row {
    flex-wrap: nowrap;
    align-items: center;
}

.intro-hr {
    width: 14px;
    border: thin solid;
    height: 0;
}

/* .jackpot {
    padding-bottom: 103px;
} */

.jackpot .card {
    background: transparent;
    border: none;
}

.jackpot h3 {
    font-style: normal;
    font-weight: 700;
    /* font-size: 28px;
    line-height: 36px; */
    /* letter-spacing: 4.92414px; */
    text-transform: uppercase;
    color: #000000;
    background: #5DFEFE;
    /* padding-left: 16px; */
}

.jackpot .top-winners {
    border-radius: unset;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}



body>div.container.jackpot.p-5>div:nth-child(2)>div.col-md-4>table>tbody>tr:nth-child(10) {
    border-color: transparent;
}

.top-winners .list-group-item {
    background: transparent;
}

.jackpot tr td:nth-child(2) {
    text-align: end;
}

.top-winners tr {
    border-color: #6FFFBD;
}

.tw-heading {
    background: url("/assets/images/Path\ 8.svg") right/cover no-repeat !important;
}



.top-winners td {
    padding: 14px 0;
    /* padding-left: 16px; */
}

.casino-benefits {
    background-image: url("/assets/images/Casino\ BG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}



.casino-benefits .intro-hr {
    color: #000;
}

.casino-benefits .card {
    background: unset;
    border: unset;
    padding: 0;
}

.casino-benefits .card-title {
    background: url("/assets/images/carth3title.svg") no-repeat right/cover;
    /* position: relative; */
    /* display: inline-block; */
    /* z-index: 1; */
    padding-left: 16px;
    font-style: normal;
    font-weight: 700;
    /* font-size: 28px; */
    /* line-height: 36px; */
    /* letter-spacing: 1.92414px; */
    text-transform: uppercase;
    color: #FFFFFF;
}


.casino-benefits .card-body {
    padding: 0;
}

.casino-benefits .card-text {
    /* position: relative; */
    background: #fff;
    padding: 1rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    /* font-size: 20px; */
    /* line-height: 30px; */
    color: #000000;
}

.casino-benefits .card-body::before {
    /* content: '';
    transform: skew(30deg);
    position: absolute;
    left: 50px;
    background: #000;
    right: 10px;
    height: 36px; */
}

.casino-benefits h2,
.casino-benefits p {
    color: #000;
}

/* .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
} */


.combined-shape {
    /* position: absolute;
    top: -35px;
    padding: 0;
    left: 0;
    right: 0; */
    margin-bottom: -1px;
}

.combined-shape-bottom {
    /* padding: 0;
    position: absolute;
    bottom: -34px;
    left: 0;
    right: 0; */
    margin-top: -2px;
}

.win-big {
    /* background: url("/assets/images/lotto.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */

    /* align-items: center; */
    /* position: relative; */
    background-color: #F7F930;
    /* padding: 24px 0; */
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 700;
    /* font-size: 7px; */
    /* line-height: 92px; */

}

.win-big p {
    text-transform: uppercase;
    margin-bottom: 0;
    /* letter-spacing: 5px; */
    text-transform: uppercase;
    color: #000000;
}


.jackpot {
    background-image: url("/assets/images/featured\ links\ bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.begining {
    background-image: url("/assets/images/Brick_darker2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 45px;
}


.view-more {
    justify-content: center;
    margin-bottom: 65px;
}


.view-more>button {
    background: url("/assets/images/btn\ bg.svg") no-repeat center;
    height: 80px;
    border: unset;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    width: 204px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.view-more>button:hover {
    background: url("/assets/images/btn\ bg.svg") no-repeat center;
}

/* .footer h3 {
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
}

.footer a,
.footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.copyright {
    font-size: 14px;
} */

.link-dark i {
    font-size: 22px;
    color: #5DFEFE;
    border: 3px solid #5DFEFE;
    border-radius: 50%;
    padding: 7px 9px;
}

.jack-heading {
    display: flex;
    /* flex-wrap: nowrap; */
}

.jack-heading h3 {
    flex: 0 0 100%;
}


.jack-heading button {
    background: url("/assets/images/vbtn\ bgsvg.svg") right/cover no-repeat;
    font-style: normal;
    font-weight: 700;
    /* font-size: 20px; */
    /* line-height: 26px; */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: unset;
    border-radius: unset;
    /* padding: 1px 40px; */
}




@media (max-width: 576px) {
    .intro-hr {
        width: 50px;
    }
}


@media (min-width:320px) {

    p,
    .casino-benefits .card-text {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.5px;
    }

    h2,
    .win-big p {
        font-size: 34px;
        line-height: 55px;
    }

    .crypto,
    h3,
    .casino-benefits .card-title,
    .currency,
    .jack-heading button {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 1px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .featured-links .card {
        margin-top: 1rem;
    }

    .online-casino p {
        text-align: justify;
    }

    .currency {
        justify-content: center;
    }

    .win-big {
        /* margin-top: -18px; */
    }

    .win-big p {
        letter-spacing: 4px;
        text-align: center;
    }

    .intro-intro {
        margin-left: 5px;
    }

    .intro-intro p {
        font-size: 12px;
        line-height: 22px;
    }

    .jackpot .top-winners {
        padding: 8px 16px;
        font-size: 1rem;
        line-height: 20px;
    }

    .jack-heading {
        flex-wrap: wrap;
    }

    .jack-heading button {
        font-size: 1rem;
        padding: 3px 70px 3px 19px;
    }
}

@media (min-width: 449.98px) {

    p,
    .casino-benefits .card-text,
    .jackpot .top-winners {
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 1px;
    }

    .crypto,
    h3,
    .casino-benefits .card-title,
    .currency,
    .jack-heading button {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 2px;
    }

    h2,
    .win-big p {
        font-size: 51px;
        line-height: 72px;
    }
}

@media (min-width: 575.98px) {

    .intro-intro p {
        font-size: 13px;
        line-height: 23px;
    }

    .intro-hr {
        width: 103px;
    }

    h2,
    .win-big {
        font-size: 61px;
        line-height: 82px;
    }
}


@media (min-width: 767.98px) {

    p,
    .casino-benefits .card-text {
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 1px;
    }

    h2,
    .win-big p {
        font-size: 58px;
        line-height: 79px;
        letter-spacing: 3px;
    }

    .crypto,
    h3,
    .casino-benefits .card-title,
    .currency {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 4.92414px;
    }

    .currency li {
        padding: 1rem;
    }

    .currency {
        font-size: 32px;
        line-height: 38px;
    }


    .intro-intro {
        margin-left: 114px;
    }

    .intro-hr {
        width: 143px;
    }

    .online-casino p {
        text-align: left;
    }


    .jack-heading button {
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 1px;
        padding: 1px 40px 2px 40px;
    }
}


@media (min-width:992px) {

    p,
    .casino-benefits .card-text {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.5px;
    }

    h2 {
        font-size: 72px;
        line-height: 92px;
        letter-spacing: 12.6621px;
    }

    .crypto,
    h3,
    .casino-benefits .card-title,
    .currency {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 4.92414px;
    }

    .win-big p {
        letter-spacing: 8px;
        text-align: left;
    }

    .intro-intro p {
        font-size: 15px;
        line-height: 25px;
    }


    .jackpot .top-winners {
        font-size: 20px;
        line-height: 23px;
    }

    .jack-heading {
        flex-wrap: nowrap;
    }

    .jack-heading h3{
        flex: 1 1 auto;
    }

    /* .jack-heading button {
        font-size: 1rem;
        padding: 3px 70px 3px 19px;
    } */
}

@media (min-width: 1199px) {

    /* .currency{
        justify-content: end;
    } */
    .win-big p {
        letter-spacing: 12.6621px;
    }

}

/* @media(min-width: 991.98px) and (max-width: 1298.98px) {
    .currency {
        font-size: 22px;
        line-height: 28px;
    }

    .win-big p {
        font-size: 51px;
        line-height: 72px;
    }
} */