*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #000000;
    color: #fff;
    font-family: 'Rajdhani';
}


.hr {
    height: 1px;
}


.sub-intro {
    background: url("/assets/images/sub\ intro\ bg.png") center right/cover no-repeat;
    width: fit-content;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.bg-cover-e {
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.intro {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

/* .underground {
    background-image: url("/assets/images/featured\ links\ bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

h2,
.band p {
    /* font-family: 'Rajdhani'; */
    font-style: normal;
    font-weight: 700;
}

p,
.p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    /* font-size: 20px; */
    /* line-height: 30px; */
    color: #FFFFFF;
}

.bg-yellow {
    --bs-bg-opacity: 1;
    background-color: #F7F930 !important;
}

.bg-green {
    --bs-bg-opacity: 1;
    background-color: #02FFB9 !important;
}

.text-blue {
    color: #00ffff !important;
}

.text-yellow {
    color: #F7F930 !important;
}


/* .win-big {
    background-color: #F7F930;
    font-style: normal;
    font-weight: 700;
} */


.currency li {
    background: linear-gradient(180deg, #69A3A3 -32.87%, #5DFEFE 46.89%, #69A3A3 115.17%);
    border: 1px solid #65C6C6;
    padding: 1rem 0.75rem;
    color: #000000;
}

.currency li:nth-child(1),
.currency li:nth-child(4),
.currency li:nth-child(8) {
    background: unset;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
}

.band-bottom {
    margin-top: -2px;
}

.band-top {
    margin-bottom: -2px;
}

.bd-yellow {
    border: 1px solid #F7F930;
}

.purple-overlay {
    background-image: url('/assets/images/Group\ 1.png');
}

.featured-links .card:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: black;
    transform: rotate(45deg);
    border-bottom: 1px solid #F7F930;
    right: -20px;
    top: -20px;
}

.featured-links .card::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: black;
    bottom: -20px;
    left: -20px;
    transform: rotate(45deg);
    border-top: 1px solid #f7f930;
}

.skewed-square::before {
    content: '';
    position: absolute;
    background: #f7f930;
    width: 19px;
    height: 10px;
    left: 15px;
    top: 3px;
    transform: skewX(-30deg);
}

.skewed {
    display: inline-block;
    position: relative;
    background: #f7f930;
    width: 19px;
    height: 10px;
    vertical-align: super;
    transform: skewX(-30deg);
    margin-right: 0.5rem;
}

.header-sm {
    font-weight: 600;
    text-transform: uppercase;
    color: #F7F930;
}

.text-sm,
.text-med {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}



h3 {
    font-weight: 700;
}



tr {
    border-color: #6FFFBD;
}

tr td:nth-child(2) {
    text-align: right;
}

td {
    /* padding: 1rem 0; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.bg-blue {
    background: #5DFEFE;
}


/* .btn-bg {
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
} */


.bg-100 {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-position: bottom center; */
}

.card-header {
    letter-spacing: 1.92414px !important;
}

.btn-bg {
    background-image: url(/assets/images/btn\ bg.png);
    background-repeat: no-repeat;
    border-radius: 0;
    background-position: center right;
    background-size: cover;
    width: 100%;
    /* padding: 1.25rem; */
    max-width: 12.8125rem;
    /* height: auto; */
    height: 2.875rem;
}


/* .fw-light{
    font-weight: 400;
} */


.bg-cover,
.bg-cover-b {
    /* position: relative; */
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-cover-b {
    background-position: bottom !important;
    background-size: auto;
}

.bricks-darker {
    background-image: url("/assets/images/bricks\ darker.png");
    background-position: center;
    background-size: cover;
}

.mt-n1 {
    margin-top: -0.25rem !important;
}

.mt-n2 {
    margin-top: -0.5rem !important;
}

.mt-n3 {
    margin-top: -1rem !important;
}

.mt-n4 {
    margin-top: -1.5rem !important;
}

.mt-n5 {
    margin-top: -3rem !important;
}



.features .carousel-inner {
    /* background: url(/assets/images/blueEFF.png) no-repeat bottom right/cover */
}

.features .carousel-indicators {
    bottom: unset;
    /* top: -120px; */
    /* flex-direction: column; */
    /* align-items: center; */
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

.features .carousel-indicators [data-bs-target] {
    width: auto;
    height: auto;
    text-indent: initial;
    opacity: 1;
    background: transparent;
    text-transform: uppercase;
    color: #FFFFFF;
}

.features h2 {
    color: black !important;
}

.features .carousel-indicators [data-bs-target].active {
    color: #5DFEFE;
}


#featureSlider .carousel-control-next-icon {
    background-image: url(/assets/images/next\ arrow\ icon.svg);
}

#featureSlider .carousel-control-prev-icon {
    background-image: url(/assets/images/before\ arrow\ icon.svg);
}

.carousel-control-next,
.carousel-control-prev {
    width: 12%;
}


.light-overlay {
    background-image: url('/assets/images/light\ gold\ overlay.png');

}


.pointer-1 {
    right: -155px;
    bottom: 0;
    transform: translate(0, -50%);
}


.pointer-2 {
    right: -155px;
    bottom: -100px;
}

.list-group-item {
    background: transparent;
    border: none;
}

.roboto-sm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    /* text-align: justify; */
    /* color: #000000; */
}

.pointer-arrow {
    top: 155px;
    right: 0;
}

table.table:not(table.top-winners) {
    /* border-collapse: separate; */
    /* border-spacing: 0.75rem; */
    width: 1200px;
    margin: auto;
}

table.table.my-5.top-winners td,
table.table.my-5.top-winners th {
    width: 20%;
    vertical-align: middle;
}

thead>tr {
    border: 0 !important;
    border: unset !important;
}

.accordion-button::after {
    background-image: url(/assets/images/accordion\ btn\ icon.svg) !important;
}

.accordion-item {
    background: url(/assets/images/blueoverlay.png);
    /* background-position: center 0; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.accordion-button,
.accordion-button:focus {
    /* z-index: 3; */
    border-color: unset;
    /* outline: 0; */
    box-shadow: none !important;
}

.clip-x {
    overflow-x: clip !important;
}

.bg-top {
    background-position: top center;
    background-size: 101% 73%;
    background-repeat: no-repeat;
}

.bg-gold {
    background: radial-gradient(512.38% 298.35% at 40.05% 50%, #F5D03F 0%, #A88200 100%)
}

.bg-pbox {
    background-origin: padding-box;
}

.btn:hover {
    border: 0;
}

.features span.sub-intro {
    background: black !important;
}

.pe-7 {
    padding-right: 6rem !important;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
    z-index: 1;
    color: unset;
    text-decoration: none;
    background-color: unset;
}

.form-select:focus {
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}

.btn-filter {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    z-index: 50 !important;
    text-transform: uppercase;

    color: #FFFFFF;
}

.border-b {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.border-yellow {
    border-color: #F7F930 !important;
}


.apartments .card-footer.text-center::after {
    content: '';
    position: absolute;
    height: 56px;
    width: 1px;
    background: #979797;
    top: -20px;
    right: 50%;
    transform: translate(50%, 0%);
}

/* .carousel-indicators.mobile {
    flex-direction: row;
    flex-wrap: wrap;
    top: -106px;
    
} */


.games .form-control:focus {
    /* color: #212529; */
    /* background-color: #fff; */
    border-color: unset;
    outline: 0;
    box-shadow: unset;
  }
@media (max-width: 767.9px) {


    .img-fluid-md {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 991.98px) {
    .img-fluid-xl {
        max-width: 100%;
        height: auto;
    }
}


@media (min-width: 0px) {


    .btn-filter {
        max-width: unset;
        right: unset;
        height: unset;
    }

    .features .carousel-indicators {
        top: -100px;
        margin-left: 0;
        margin-right: 0;
    }

    .roboto-sm,
    .text-med {
        font-size: 16px;
        line-height: 21px;
        letter-spacing: normal !important;
    }

    .intro {
        font-size: 12px;
        line-height: 22px;
    }

    .hr {
        width: 50px;
    }

    h2,
    .band p.win-big {
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 3px;
    }

    h3,
    .sub-intro,
    .header-sm {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 2.46207px;
    }

    .header-sm {
        letter-spacing: normal !important;
    }

    p {
        /* font-size: 1rem;
        line-height: 30px; */
    }

    .currency li {
        padding: 0.65rem;
    }

    .custom-gallery>img {
        max-height: 215px;
    }
}

@media (min-width: 425px) {

    .features .carousel-indicators {
        top: -100px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .custom-gallery>img {
        max-height: 200px;
    }
}

@media (min-width: 575.98px) {


    .features .carousel-indicators [data-bs-target] {
        font-size: 19px;
        line-height: 0.75rem;
        letter-spacing: 1px;
    }

    .features .carousel-indicators {
        top: -100px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .text-med {
        font-size: 20px;
        line-height: 30px;
    }

    .intro {
        font-size: 15px;
        line-height: 25px;
    }

    .hr {
        width: 80px;
    }

    h2 {
        font-size: 45px;
        line-height: 55px;
        letter-spacing: 4px;
    }


    .band p {
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 2px;
    }

    .header-sm {
        font-weight: 600;
        font-size: 23px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F7F930;
    }

    .roboto-sm {
        font-size: 25px !important;
        line-height: 30px !important;
        letter-spacing: normal !important;
    }

    h3,
    .sub-intro,
    .currency li {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 2.46207px;
    }

    .currency li {
        padding: 0.65rem;
    }

    .custom-gallery>img {
        max-height: 240px;
    }

    .text-lag {
        font-size: 32px !important;
        line-height: 38px !important;
        text-align: center !important;
        letter-spacing: 3.07692px !important;
    }
}

@media (min-width: 767.98px) {

    .btn-filter {
        max-width: 10.8125rem;
        /* height: auto; */
        height: 2.875rem;
        bottom: -2px;
        right: -29px;
    }

    .mr-vip {
        top: -40px;
    }

    .features .carousel-indicators {
        top: -96px;
    }

    .features .carousel-indicators [data-bs-target] {
        font-size: 26px;
        letter-spacing: 1.33077px;
        line-height: 0.75rem;
    }

    .position-lg-absolute {
        position: absolute !important;
    }

    .table tbody>*>* {
        padding: 1rem 0.5rem;
    }

    button.btn {
        font-size: 20px;
        line-height: 26px;
    }

    .band p {
        font-size: 40px;
        line-height: 48px;
    }

    .header-md {
        font-size: 42px;
        line-height: 54px;
        letter-spacing: 7.38621px;
        text-transform: uppercase;
    }
}

@media (min-width: 991.98px) {


    .btn-filter {
        max-width: unset;
        right: unset;
        height: unset;
        /* background-size: auto; */
        /* margin: 0 auto; */
        /* text-align: left; */
        max-width: 12.8125rem;
        /* height: auto; */
        height: 2.875rem;
        right: -30px;
        bottom: 0;  
    }

    .position-xl-absolute {
        position: absolute !important;
    }

    .features .carousel-indicators {
        top: -120px;
    }

    .mt-xl-n2 {
        margin-top: -1.25rem;
    }

    .hr {
        width: 143px;
    }

    h2,
    .band p.win-big {
        font-size: 72px;
        line-height: 92px;
        letter-spacing: 12.6621px;
        text-transform: uppercase;
    }

    .band p.win-big {
        letter-spacing: 3.92308px !important;
        line-height: 58px !important;
    }

    p,
    .p {
        font-size: 20px;
        line-height: 30px;
    }

    td {
        font-size: 20px;
        line-height: 23px;
    }

    h3,
    .sub-intro {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 4.92414px;
    }

    .currency li {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 4.92414px;

    }

    .band p,
    .header-lg {
        font-size: 52px;
        line-height: 58px;
        text-align: center;
        letter-spacing: 5px;
    }

    .header-lg {
        font-size: 52px !important;
        line-height: 58px !important;
        /* text-align: center; */
        letter-spacing: 5px;
    }

    .currency li {
        padding: 1rem;
    }

    .features .carousel-indicators [data-bs-target] {
        font-size: 30px;
        line-height: 1rem;
        letter-spacing: 1.73077px;
    }

    .features h2 {
        line-height: 50px;
    }
}

@media (min-width: 1200px) {
    .hr {
        margin-left: 112px;
        width: 143px;
    }

    .band p {
        /* font-size: 72px;
        line-height: 92px;
        letter-spacing: 5px;
        text-transform: uppercase; */
    }

    .bg-xl-100 {
        background-size: 100% 100%;
    }

    .bg-cover-xl {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/* @media (min-width: 767.9px) and (max-width: 998.9px) {
    
} */
/* @media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1440px;
    }
} */